@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
table {
    width: 100%;
}
#header {
    background-image: url(Back-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
    color: white;
    border-radius: 15px;
    margin-top: 5px;
    text-align: center;
}
.bigtext {
    font-family: 'Cinzel', serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
}
.slogan {
    font-family: 'Cinzel', serif;
    font-size: 0.5em;
    font-weight: bolder;
    margin-bottom: 0px;
}
.button {
    background-image: url(Button-image.jpg);
    border: none;
    border-radius: 8px;
    color: hsl(221, 67%, 49%);
    text-decoration: none;
    font-family: 'Sriracha', cursive;
    font-size: 20px;
    padding: 10px;
}
.button:hover {
    background-color: white;
    color: rgb(0, 174, 255);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transform: scale(1.2,1.2);
}

.question {
    color: rgb(6, 6, 87);
    font-size: 40px;
    font-family: 'Abril Fatface', cursive;
    text-align: right;
    width: 50%;
    padding-right: 40px;
}
.last {
    color: rgb(6, 6, 87);
    font-size: 0.5em;
    font-family: 'Abril Fatface', cursive;  
    opacity: 0.7;
}
.lorem {
    text-align: justify;
    padding: 30px 15px 10px 15px;
    font-family: 'Abril Fatface', cursive;  
    color: darkblue;
}
.footer {
    background-color: rgb(87, 155, 223);
    margin-bottom: 0px;
}
.footertext {
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    font-weight: bolder;
    padding-right: 20px;
    color: rgb(23, 18, 39);
}
img {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    margin: 20px 50px 20px 0px;
}
div {
    display: flex;
    justify-content: center;
}